# This is copied from .env.example

##############################################################################
#                   PathSight GLOBAL configuration                           #
##############################################################################

# ── Repo/Project root override ──────────────────────────
PATHSIGHT_ROOT=path/to/your/repo/pathsight

##############################################################################
#                   PathSight MODEL configuration                            #
##############################################################################

# ── Data pipeline ───────────────────────────────────────────────────────────
PCAM_IMAGE_SIZE=96
PCAM_BATCH_SIZE=32
PCAM_SEED=42

# ── Training ────────────────────────────────────────────────────────────────
PCAM_EPOCHS=10
PCAM_LEARNING_RATE=1e-3
PCAM_EARLY_STOPPING_PATIENCE=3
PCAM_EARLY_STOP_MONITOR=val_auc
PCAM_EARLY_STOP_MODE=max
MODEL_METRICS= ["accuracy", "auc", "precision", "recall"]  # Comma-separated list of metrics for training and evaluation

##############################################################################
#                 PathSight BACKEND & API configuration                      #
##############################################################################

# --- Docker & GCP related configuration for deployment ---
DOCKER_IMAGE_NAME=pathsight-backend
DOCKER_LOCAL_PORT=8080
GCP_PROJECT=your_project_id
GCP_REGION=europe-west1
DOCKER_REPO_NAME=pathsight

##############################################################################
#                 PathSight FRONTEND configuration                           #
##############################################################################

# Add Frontend env specific here
